.main {
  padding: 11rem 7rem;
}

.title {
  text-transform: uppercase;
  color: #926341;
  text-align: center;
  padding-bottom: 3rem;
}

.work {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.wrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  transition: 1s;
  width: 30%;
align-items: center;
}

.text {
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

.img {
  width: 40rem;
  height: 25rem;
}

.wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}


@media (max-width: 992px) {
  .work {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper:hover {
    transform: none;
  }
}
